{% extends "layout.html" %}

{% block title %}
About Me
{% endblock  %}

{% block body %}
<h2>About Me</h2>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto soluta officia fugit inventore repellat ut doloribus maiores laboriosam reiciendis quaerat, aspernatur accusantium tempora, itaque nemo, ab nam deleniti quam ex.
Autem sunt nam consequuntur. Deleniti repudiandae placeat voluptatibus similique, doloribus dolores maxime natus nisi quisquam at commodi ratione error iusto explicabo, molestiae vitae libero dolorum corporis quod exercitationem illo? Quisquam.
Reprehenderit rerum ab ut! Corrupti eos quibusdam vero est. Vel in expedita harum modi nobis at dignissimos officiis esse deserunt, dolores similique, maxime non sint vitae aperiam commodi debitis corporis.</p>
<hr>
{% endblock %}
